<%
=begin%>
 <div id='calendar'></div> 
<%
=end%>
<%# ↑このコードさえあればカレンダーが現れてくれます %>

<%#= javascript_pack_tag 'calendar/info' %>
<%# これを書くとapp/javascript/packsの中にある
calendarディレクトリ内のevent.jsというファイルを読み込んでくれます。
詳しくは次で出てきます。 %>